@media(max-width 1680px)
  .navigation
    width: 75%

@media(max-width 1440px)
  .container
    padding: 0 5%
  .navigation
    width: 80%
  .apartments-content
    width: 85%
  .navigation-elment
    margin-right 4%


@media(max-width 1280px)
  .navigation
    width: 78%
  .navigation-elment
    margin-right: 0%
  .search-form
    min-width: 90%
  .button-search-form
    &:before
      left: 20%
  .partners-logo
    width: 20%;
@media(max-width 1024px)
  .contact-info__pnumber
     margin-left: 0
  .navigation-elment
    font-size: 14px
  .apartments-content
    width: 95%
  .sort-tab
    width: 20%
  .client-text
    color: #777
    line-height: 1.35rem
    text-align: center
    font-size: 12px
  .blog-content
     flex-flow: wrap
  .single-post
     width: 30%
     margin-right: 5%
     &:nth-child(3)
       margin-right: 0
   .partners
     margin-bottom: 80px
   .partners-logo
     width: 20%
   .footer-link-heading
     font-size: rem(14px)
   .footer-link-block
     margin-right: 25px
   .input-join
     width: 70%
   .single-apartment
       width: 45%
@media(max-width 1023px)
  .navigation
    display none
  .hamburger
    display block
  .search-form
    min-width: 95%

@media(max-width 992px)
  .contact-info
    width 45%
  .footer-content
      flex-direction column
  .contact-us--footer
    width 100%
    margin-bottom 5%
  .footer-link-block
    margin-right: 15%
    margin-bottom 5%
    &:last-child
      margin-right 0
  .title
    h1
      font-size rem(48px)
@media(max-width 768px)
  .search-form-row
    flex-direction column
    flex-flow wrap
    align-items flex-start
  .search-form-group
    width: 47%
    margin-top: 1%
    margin-bottom: 1%
  .search-form-group--location
    width: 100%
  .cities-block
    margin 10% 0%
  .title
    h1
      font-size rem(42px)
    h2
      font-size rem(28px)
  .single-post
    width: 45%
    margin-right 5%
    &:nth-child(3)
      margin-right: 5%
    &:last-child
      margin-bottom 0
  .footer-link-row
    margin-bottom: 5%
@media(max-width 640px)
  .slide-location
      font-size: rem(56px)
  .call-to-title
      font-size: 1.475rem
  .contact-info
      width 65%
  .client
    width 50%
    &:nth-child(2n+1)
      display none
  .title
    h1
      font-size rem(35px)
    h2
      font-size rem(22px)
  .footer-link-block
    margin-right: 10%
@media(max-width 560px)
  .slide-location
    font-size: rem(44px)
    margin-bottom: 5%
  .slide--cities
    width: 500px
    margin-right 0px
  .sort-tab
    width: 35%
  .call-to
    height 45vh

@media(max-width 480px)
  .slide-content
    top 5%
  .controls
    top: 30%
  .client
    width 100%
    &:last-child
      display none
  .single-apartment
    width: 100%
  .single-post
    width: 100%
    margin-right 0
  .call-to-title
    font-size: rem(20px)
  .title
    h1
      font-size rem(28px)
    h2
      font-size rem(16px)
  .cities-block
    margin 25% 0%
  .slide--cities
    width: 480px
    margin-right 1%
  .single-post
    &:nth-child(3)
      margin-right: 0%
  .mobile-hamburger
      top: 13%
  .contact-us--footer
      width: 100%
      margin-bottom: 10%
@media(max-width 436px)
  .slide-content
    top 10%
  .call-to-title
      font-size: rem(18px)
  .title
    h1
      font-size rem(22px)
    h2
      font-size rem(15px)
  .slide-discount
      font-size: rem(40px)
  .slide-location
    font-size: 36px

@media(max-width 380px)
  .contact-info
      flex-flow: wrap
      margin-left: 10%
  .mobile-hamburger
    top: 20%;
    right: 18%;
  .navigation-mobile
      left: 5px
      top: 25%
  .main-carousel-gallery
    height: 100vh;
