footer
  .container
    .footer-content
      .contact-us--footer
        h3.footer-link-heading contact us
        ul.contact-list
          li.footer-link-contact-us.footer-link-contact-us--icon-envelope
            a.footer-link(href="/") hello@homeeurope.com
          li.footer-link-contact-us
            a.footer-link(href="/") realestate@homeeurope.com
          li.footer-link-contact-us.footer-link-contact-us--icon-phone
            a.footer-link(href="/") +020 12345678
          li.footer-link-contact-us
            a.footer-link(href="/") +020 12345678
          li.footer-link-contact-us.footer-link-contact-us--icon-location
            a.footer-link(href="/") 132-133 St, Montfichet Rd, London E20 1EN, United Kingdom 
      .footer-link-row
        .footer-link-block
          h3.footer-link-heading quick link
          ul.footer-link-block-content
            li.footer-li
              a.footer-link.footer-link--main(href="/") home
            li.footer-li
              a.footer-link.footer-link--main(href="/") about-us
            li.footer-li
              a.footer-link.footer-link--main(href="/") our apartments
            li.footer-li
              a.footer-link.footer-link--main(href="/") reviews
            li.footer-li
              a.footer-link.footer-link--main(href="/") our blog
        .footer-link-block
          h3.footer-link-heading Information
          ul.footer-link-block-content
            li.footer-li
              a.footer-link.footer-link--main(href="/") home
            li.footer-li
              a.footer-link.footer-link--main(href="/") about-us
            li.footer-li
              a.footer-link.footer-link--main(href="/") our apartments
            li.footer-li
              a.footer-link.footer-link--main(href="/") reviews
            li.footer-li
              a.footer-link.footer-link--main(href="/") our blog
        .footer-link-block
          h3.footer-link-heading our policy
          ul.footer-link-block-content
            li.footer-li
              a.footer-link.footer-link--main(href="/") home
            li.footer-li
              a.footer-link.footer-link--main(href="/") about-us
            li.footer-li
              a.footer-link.footer-link--main(href="/") our apartments
            li.footer-li
              a.footer-link.footer-link--main(href="/") reviews
            li.footer-li
              a.footer-link.footer-link--main(href="/") our blog
      .footer-link-join
        h3.footer-link-heading NewsLetter
        p.newsletter-text To be updated on our news & promotions, join our mailing list.
        form.form-for-join
          label
            input.input-join
            button.button.btn-join join
        .socials-icons
          a.social-link(href="/")
            +icon('facebook-logo','socials')
          a.social-link(href="/")
            +icon('twitter','socials')
          a.social-link(href="/")
            +icon('google-plus','socials')
          a.social-link(href="/")
            +icon('linkedin','socials')
  .copyright
    span.copyright-date Copyright  @ 2018
    a.copyright-link(href="/")  Home Europe
    span.copyright-rights , All right reserved.
