header.header
  .container
      .header-top
        .contact-info
          a(href="/").contacts.contact-info__pnumber +020 12345678
            +icon('phone','icon-contacts')
          a(href="/").contacts.contact-info__mail hello@homeeurope.com
            +icon('env','icon-contacts')
        .select-lang
          select.select-language
            option.en-lang EN
            option.ua-lang UA
      .header-bottom
          .logo 
              img.logo-img(src="../static/img/general/logo.png")
          nav.navigation
            li.navigation-elment
              a(href="/") home
            li.navigation-elment
              a(href="/") ABOUt US   
            li.navigation-elment
              a(href="/") OUR APARTMENTS
            li.navigation-elment
              a(href="/") Reviews  
            li.navigation-elment
              a(href="/") Blog
            li.navigation-elment
              a(href="/") contact us
            button.button.button--sign-up sign up
          button.hamburger.hamburger--spring
            span.hamburger-box
              span.hamburger-inner
          
            
          
